body {

  max-width: 70%;
  /* border: 1px solid black; */
  margin: 20px auto;
    font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.front-header {
  text-align: center;
}

li {
  margin: 10px 0;
}

.front-main {
    /* text-align: center; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.front-main section {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
}

.front-main section:last-child {
  /* border-top: 1px solid black; */
  border-bottom: 0px solid black;
}

.front-footer {
  text-align: center;
}

.front-header a {
  text-decoration: none;
  color: black;
}

.front-main a {
  color: black;
}

.front-footer a {
  color: black;
}

.front-ol {
  width: 20%;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.solution {
  background: black;
}

pre {
   text-align: left;
   /* white-space: pre-line; */
 }
